*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


body {
    max-width: 100%; 
    height: 100%;
    background-color: #ffffff;
    /* background:linear-gradient(to right, rgb(0, 0, 0), rgb(15, 15, 17), rgb(44, 33, 18), rgb(17, 14, 4), rgb(12, 9, 1)); */
    background-image: url(../image/fondo_pets.jpg);
    background-size: cover;
    background-position: center;
}
header {
    height: 3rem;
    width: 100%;
    display: flex;
    background-color: aliceblue;
    align-items: center;
    gap: 3rem;
    
}

.img-pets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* justify-content: space-between; */
    text-align: center;
    gap: 2rem;
}

figure article {
    color: #fff6c0;
    font-size: 17px;
    font-weight: bolder;
    /* text-align: center; */
}

.pets{
    height: 15rem; 
    width: 15rem;     
    object-fit: cover;
    padding-bottom: 3rem;
    background-color: #e2e0e0;
    border: 5px solid #e2e0e0;
}

.pets:hover {
    transition: .5s;
    scale: 1.1;
    cursor: pointer;
}

figure {
    border: 1px solid #e2e0e0;
    background-color: rgba(0, 0, 0, 0.39);
    /* padding: 10px; */
}
@media (max-width: 640px){
    .img-pets {
        display: grid; 
        grid-template-columns: repeat(1, 1fr)!important;
    }
}

@media (max-width: 780px){
    .img-pets {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


:modal {
    
}

/* figure:focus {
    transform: scale(1.6);
    align-items: center;
    background-color: transparent;
    border: none;
} */