*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    background:linear-gradient(to right, rgb(0, 0, 0), rgb(63, 63, 65), rgb(21, 24, 21));
    width: 100%;
    height: 50px;
    margin: 0;
}

nav h1 {
    font-size: 25px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top:3% ;
}

a {
padding-left: 80%;
padding-top:auto;

}

#about_me {
    padding-top: 70%;
    margin-bottom:0;
    color: aqua;

}
/* https://www.youtube.com/watch?v=GdrbE-s5DgQ&t=484s */