*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* outline: 1px solid red; */
}

body {
    height: 100%;
    background-color: #ffffff;
    background:linear-gradient(to right, rgb(0, 0, 0), rgb(15, 15, 17), rgb(44, 33, 18), rgb(17, 14, 4), rgb(12, 9, 1));
    /* background-image: url(../image/fondo_portafolios.jpg); */
    background-size: cover;
    background-position: center;
    overflow: auto;
}

li {
list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: .5s, width 1s, height 1s;
}

a:hover {
    color: #fff6c0;
    background-color: #0000003b;
    padding: 21px 10px;
    margin: 0;
    /*
    font-size: 18px;*/
}
header.tituprin {
    position: relative;
    padding: 0 2rem;
    background-image: url(../image/paisaje.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5)
    /* background:linear-gradient(to right, rgb(0, 0, 0), rgb(63, 63, 65), rgb(21, 24, 21));
    font-weight:bold */
}

section {
    color: #ffffff;
    font-size: 0,7rem;
}

h2 {
    margin: 1rem 0;
    color: #fff6c0;
}

h3{
    margin: 1rem 0;
}

p {
    margin-bottom: 0.5rem;
    justify-content: center;
}
.bar {
    width: auto;
    height: 60px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bar .autor {
    font-size: 0.7rem;
    font-weight: bold;
    color: #fff;
}

.bar .options {
    display: flex;
    gap: 2rem;
}

.bar .dropdown {
    color: #fff;
    font-size: 1.5rem;
    cursor:pointer;
}

.myself{
    height: 30%;
    width: 30%;
    margin-top: 5%;
    margin-left: 35%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5) ;
    transition: 0.5s ease;
}
section .myself:hover {
    cursor: url("../image/mano.png"), auto;
    transform: scale(1.05);
}

section .myself:active {
    transform: scale(0.95);
}

#about_me{
    padding: 2% 0;
}
/* projects */

#projects * {
    margin: 0;
    padding: 0;
}

#projects{
    height: 20%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-areas:'projects projects projects'
                        'tituprof tituprof titupre'
                        'professional professional personal';
    grid-template-rows: 12% 12% auto;
    grid-template-columns: 30% 30% 40%;
    gap: .001rem;
    justify-content: space-around;
    margin: 0 10%;
    /* flex-wrap: wrap; */
}

.titupro {
    grid-area: projects;
    color: #fff6c0;
    font-size: 20px;
    text-align: center;
    background-image: url(../image/paisaje\ amarillo.jpg);
    background-position: center;
    background-size: cover;
}

.tituporf {
    background-color: #c96100;
    grid-area: tituprof;
    text-align: center;
    color: #fff6c0;
}

.professional{
    background-color: rgba(235, 167, 21, 0.11);
    grid-area: professional;
    display: flex;
    padding: 0 .05rem;
}

.studies{
    background-color: rgba(235, 167, 21, 0.11);
    border-right: 3px solid #ffffffff ;
}

.titupre{
    background-color: #c96100;
    grid-area: titupre;
    text-align: center;
    border-left: 3px solid #ffffffff;
    color: #fff6c0;
}

.personal{
    background-color: rgba(235, 167, 21, 0.11);
    grid-area: personal;
    border-left: 3px solid #ffffffff;

}

#contact{
    padding-top: 2%;
}
.data{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 640px) {
    #projects {
        margin: 0;
    } 
    
    .professional{
        display: flex;
        flex-direction: column;
    }
    .studies {
    background-color: rgba(235, 167, 21, 0.11);
    border-bottom: 3px solid #ffffffff ;
    border-right: none;
    border-top: 3px solid #ffffffff ;
    
}
}
/* https://www.youtube.com/watch?v=GdrbE-s5DgQ&t=484s */